.vaporboy-mobile-portrait {
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  background-color: #8128be;

  &__game-container {
    position: relative;

    width: calc(100vw - 40px);
    height: calc(90vw - 40px);
    max-width: 50vh;
    max-height: 45vh;
    padding: 20px;

    z-index: 2;

    .wasmboy-canvas-container {
      position: absolute;
      top: 15.15%;
      left: 19.55%;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 61.05%;
      height: 59.45%;

      z-index: 2;
    }

    .gbc-border {
      position: absolute;
      top: 0px;
      left: 0px;

      width: calc(100% - 40px);
      height: calc(100% - 40px);
      text-align: center;
      padding: 20px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .power-light {
      @include power-light(#ee4e4e);

      position: absolute;
      top: calc(29% + 10px);
      left: calc(2.75% + 20px);

      width: 3.15%;
      height: 3.15%;

      .light {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__touchpad-overlay {
    display: none;
  }
}
