.control-panel-select {
  padding: 10px;

  &__grid {
    list-style-type: none;
    padding: 0px;
    margin: 0px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    &__item {
      padding: 0px;
      margin: 0px;
      cursor: pointer;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;

      width: 30%;
      min-width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;

      button {
        padding: 0px;
        padding-top: 2px;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
      }
    }
  }
}
