.vaporboy-expanded-bg {
  background-color: $aesthetic-black;
}

.vaporboy-expanded {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;

  width: 100vw;
  height: 100vh;

  .wasmboy-canvas-container {
    width: 100%;
    height: 100%;
    text-align: center;

    // Hide the insert cartridge
    .wasmboy-canvas__canvas-container {
      background-color: $aesthetic-black;

      canvas {
        width: auto;
        height: 100%;

        @media only screen and (orientation: portrait) {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  &__controls {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5;

    button {
      background-color: $aesthetic-50-transparent;

      cursor: pointer;
      outline: none;

      border-color: transparent;
    }

    &__exit-expand {
      svg {
        fill: none;
        width: 10vw;
        height: 10vw;
      }

      &__path {
        fill: $aesthetic-white;
      }
    }
  }
}
