.expanded {
  background-color: $aesthetic-black;
}

.vaporboy-expanded {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;

  width: 100%;
  height: 100%;

  .wasmboy-canvas-container {
    width: 100%;
    height: 100%;
    text-align: center;

    .wasmboy-canvas__canvas-container {
      canvas {
        width: auto;
        height: 100%;

        @media only screen and (orientation: portrait) {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  &__controls {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5;

    width: 100%;
    height: 100%;

    &__container {
      position: relative;
      top: 0px;
      left: 0px;

      width: 100%;
      height: 100%;

      button {
        background-color: $aesthetic-50-transparent;

        cursor: pointer;
        outline: none;

        border-color: transparent;
      }

      &__expand {
        position: absolute;
        top: 0px;
        left: 0px;

        width: 8vmax;
      }

      &__control-panel {
        position: absolute;
        top: 0px;
        right: 0px;

        width: 8vmax;
      }

      // Hide the external text for start/select
      .gameboy-button__external-text--expanded {
        display: none;
      }
    }
  }
}
