.vaporboy-expanded-bg {
  background-color: $aesthetic-black;
}

.vaporboy-expanded {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;

  width: 100vw;
  height: 100vh;

  .wasmboy-canvas {
    width: 100%;
    height: 100%;
    text-align: center;

    canvas {
      width: auto;
      height: 100%;

      @media only screen and (orientation: portrait) {
        width: 100%;
        height: auto;
      }
    }
  }

  &__controls {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;

    &__exit-expand {
      svg {
        fill: none;
      }

      &__path {
        fill: $aesthetic-white;
      }
    }
  }
}
