.legacy {
  padding: 5px;
  width: calc(100% - 10px);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  .version {
    font-weight: bold;
    text-align: center;
  }

  h1 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  p,
  li {
    font-size: 1.15rem;
  }

  ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
  }

  li {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  li button {
   border: none;
   background-color: transparent;

   width: 100%;
   border-bottom: 1px solid $aesthetic-windows-95-grey;
  }
}
