// Styling for our ROM lists
.ROM-list {
  margin: 0px;
  list-style-type: none;
  padding: 5px;

  // Subtracting the padding to keep it without overflow-x
  width: calc(100% - 10px);
  flex-grow: 1;

  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0px;
    padding: 0px;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;

    &__cartridge {
      // Cartridge Dimensions:
      // 65.5mm x 57mm x 9mm
      // Meaning Ratio for H/W = 1.15 / 1
      $cartridgeWidth: 150px;
      width: $cartridgeWidth;
      height: $cartridgeWidth * 1.15;
    }

    &__label {
      margin-top: 15px;
      font-size: 1.5rem;
      text-align: center;

      a {
        color: $aesthetic-light-blue;

        &:visited {
          color: $aesthetic-purple;
        }
      }
    }

    &__list-button {
      position: absolute;
      top: 0px;
      right: -35px;
    }
  }
}
