@-webkit-keyframes power-flicker {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.85;
  }
  50% {
    opacity: 0.95;
  }
  75% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}

@mixin power-light($color) {
  display: flex;
  justify-content: center;
  align-items: center;

  .light {
    min-width: 10px;
    min-height: 10px;
    background: radial-gradient(
      farthest-corner at 50% 65%,
      lighten($color, 12%) 0%,
      $color 25%,
      darken($color, 55%) 95%,
      rgba(255, 255, 255, 0.15) 100%
    );
    border-radius: 50%;
    box-shadow: 0px 0px 3px 3px rgba($color, 0.65);

    animation: power-flicker 0.00000225s infinite;
  }
}
