.sgb-border {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 1;

  img {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    object-fit: fill;
    image-rendering: pixelated;
  }
}
