.loading-modal {
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100vw;
  height: 100vh;

  z-index: 7;

  display: none;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);

  & .is-active {
    display: flex;
  }

  &__modal {
    width: 100%;

    max-width: 400px;

    .aesthetic-windows-95-modal {
      height: calc(100% - 8px);

      display: flex;
      flex-direction: column;

      .aesthetic-windows-95-modal-title-bar {
        width: calc(100% - 10px);
        min-height: 20px;
      }

      .aesthetic-windows-95-modal-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;

        min-height: 100px;
      }
    }

    &__content {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
