.ROMLoader {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 35vh;

  z-index: 2;
  background-color: $aesthetic-75-transparent;
  color: $aesthetic-white;

  transform: translate(0px, 40vh);
  opacity: 0;
  transition: transform 1s, opacity 1s;

  &--show {
    transform: translate(0px, 0vh);
    opacity: 1;
  }

  .cartridge-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    &__cartridge {
      width: 20vh;
      height: 20vh;
      color: $aesthetic-black;

      input[type="file"] {
        display: none;
      }
    }
  }
}
