#ROMFileInput {
  display: none;
}

.ROMLoader {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  min-height: 30vh;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 2;
  background-color: $aesthetic-75-transparent;
  color: $aesthetic-white;

  transform: translate(0px, 100%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s, height 0.5s;

  &--show {
    transform: translate(0px, 0vh);
    opacity: 1;
  }

  &__title {
    margin-top: 12px;
  }

  &__current-view {
    width: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__close {
    display: block;
    background-color: transparent;
    border: none;
    border-color: transparent;
    padding: 10px;

    position: absolute;
    top: 0px;
    right: 0px;

    font-size: 2rem;
    margin: 5px;
    transition: color 0.5s;
    color: $aesthetic-white;

    &:hover,
    &:focus,
    &:active {
      color: $aesthetic-windows-95-grey;
    }
  }

  &__back {
    @extend .ROMLoader__close;

    width: 50px;
    right: initial;
    left: 0px;
    padding: 5px;

    transition: fill 0.5s;
    fill: $aesthetic-white;

    &:hover,
    &:focus,
    &:active {
      fill: $aesthetic-windows-95-grey;
    }
  }
}
