// Import our sub components
@import "searchInput/searchInput";
@import "manualInput/manualInput";

.ROMScraper {
  padding-top: 2px;

  h1 {
    text-align: left;
  }

  &__submit {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    * {
      margin-left: 5px;
      margin-right: 5px;
    }

    button[disabled] {
      opacity: 0.5;
    }
  }
}
