.ROMScraper {
  padding-top: 2px;

  h1 {
    text-align: left;
  }

  &__search {
    &__input {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      input {
        flex-grow: 1;
        font-size: 20px;
      }

      .aesthetic-windows-95-button {
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    &__results {
      margin-top: 10px;
      margin-bottom: 10px;

      &__initial-search {
        font-size: 16px;
        font-style: italic;
      }
    }
  }

  &__submit {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    * {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
