@import url("https://fonts.googleapis.com/css?family=BenchNine");

@-webkit-keyframes power-flicker {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.vaporboy-mobile-landscape {
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #5f68ab;
  // https://stackoverflow.com/questions/4011113
  background-repeat: repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);

  &__game-container {
    position: relative;

    $gbaBorderHeight: 40vw;
    width: calc(1.18 * #{$gbaBorderHeight});
    height: $gbaBorderHeight;

    .wasmboy-canvas-container {
      position: absolute;
      top: 12.35%;
      left: 9.85%;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 80.05%;
      height: 63.35%;

      z-index: 2;
    }

    .gba-border {
      position: absolute;
      top: 0px;
      left: 0px;

      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__feature-overlay {
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;

    z-index: 1;

    .feature-layout {
      position: relative;
      top: 0px;
      left: 0px;

      width: 100vw;
      height: 100vh;

      .power {
        position: absolute;
        top: 5%;
        right: 10%;

        display: flex;
        justify-content: center;
        align-items: center;

        &__light {
          width: 3vw;
          height: 3vw;
          background: radial-gradient(
            farthest-corner at 1.5vw 1.65vw,
            #87f175 0%,
            #87f175 15%,
            #58a13b,
            95%,
            rgba(255, 255, 255, 0.15) 100%
          );
          border-radius: 50%;
          box-shadow: 0px 0px 3px 3px rgba(124, 232, 104, 0.65);

          animation: power-flicker 0.0000025s infinite;
        }

        &__text {
          margin-left: 10px;
          text-transform: capitalize;
          font-family: "BenchNine", sans-serif;

          color: #5f68ab;
          font-size: 4vw;
          text-shadow: 0px 0px 2px #fdfbff;
        }
      }

      .speaker {
        position: absolute;
        right: 7%;
        bottom: 20%;

        transform: rotate(-11deg);

        :not(:first-child) {
          margin-top: 5px;
        }

        div {
          width: 16vw;
          height: 2vh;

          border: 2px solid rgba(0, 0, 0, 0.35);
          background-color: rgba(0, 0, 0, 0.4);
          border-radius: 25px;
        }
      }
    }
  }

  &__touchpad-overlay {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;

    z-index: 2;

    .button-layout {
      position: relative;
      top: 0px;
      left: 0px;

      width: 100vw;
      height: 100vh;

      .b-button {
        width: 10vw;
        height: 10vw;

        position: absolute;
        z-index: 1;
        top: calc(50% - 10vw);
        right: 14%;
      }

      .a-button {
        width: 10vw;
        height: 10vw;

        position: absolute;
        z-index: 1;
        top: calc(50% - 14vw);
        right: 1%;
      }

      .dpad {
        width: 17vw;
        height: 17vw;

        position: absolute;
        z-index: 1;
        top: calc(50% - 15vw);
        left: 7%;
      }

      .start-button {
        width: 4vw;
        height: 4vw;

        position: absolute;
        z-index: 1;
        left: 20%;
        bottom: 29%;
      }

      .select-button {
        width: 4vw;
        height: 4vw;

        position: absolute;
        z-index: 1;
        left: 18%;
        bottom: 17%;
      }
    }
  }
}
