// Import normalize
@import "../node_modules/normalize.css/normalize";

// Import the aesthetic components we are using
@import "../node_modules/aesthetic-css/src/variables";
@import "../node_modules/aesthetic-css/src/mixins";
@import "../node_modules/aesthetic-css/src/buttons";
@import "../node_modules/aesthetic-css/src/input";
@import "../node_modules/aesthetic-css/src/containers";
@import "../node_modules/aesthetic-css/src/modal";
@import "../node_modules/aesthetic-css/src/dropdowns";
@import "../node_modules/aesthetic-css/src/effects/crt";
@import "../node_modules/aesthetic-css/src/tabs";
@import "../node_modules/aesthetic-css/src/notification";
@import "../node_modules/aesthetic-css/src/loading";

// Our re-used styles
@import "styles/tooltip";
@import "styles/loader";
@import "styles/power-light";
@import "styles/list-button";

// Top-level Component styles
@import "components/vaporboyDesktop/vaporboyDesktop";
@import "components/vaporboyMobileLandscape/vaporboyMobileLandscape";
@import "components/vaporboyMobilePortrait/vaporboyMobilePortrait";
@import "components/vaporboyDesktop/sgbBorder/sgbBorder";
@import "components/vaporboyExpanded/vaporboyExpanded";
@import "components/wasmboyCanvas/wasmboyCanvas";
@import "components/controlPanel/controlPanel";
@import "components/confirmationModal/confirmationModal";
@import "components/touchpad/touchpad";
@import "components/notification/notification";
@import "components/loadingModal/loadingModal";

// General styles
html,
body {
  font: 14px/1.21 "Times New Roman", Times, serif;
  font-weight: 400;
  margin: 0px;

  // Disable pull to refresh on Chrome and Firefox
  // https://stackoverflow.com/questions/36212722/how-to-prevent-pull-down-to-refresh-of-mobile-chrome
  // https://developers.google.com/web/updates/2017/11/overscroll-behavior
  overscroll-behavior-y: contain;
}

button {
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
}

h1 {
  text-align: center;
}

// Prevent URL Bar moving around on mobile:
// https://stackoverflow.com/questions/18061308/prevent-address-bar-hiding-in-mobile-browsers
@media (max-width: 801px) {
  html,
  body {
    height: 100%;
    width: 100vw;
  }

  // Chrome mobile with URL bar does height 100% different than 100vh
  // Move the touchpad down if mobile, portrait, not expanded, and chrome
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .mobile.portrait .vaporboy-touchpad {
      overflow: hidden;
    }
    .mobile.portrait:not(.expanded)
      .vaporboy-touchpad
      .vaporboy-touchpad__button-layout {
      top: 40px !important;
    }
  }

  html {
    overflow: hidden;
  }

  body {
    position: fixed; /* prevent overscroll bounce*/
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /* iOS velocity scrolling */
  }
}

// Mixin to hide the touchpad
@mixin hide-gamepad() {
  .vaporboy-touchpad {
    .vaporboy-touchpad__button-layout {
      .vaporboy-touchpad__button-layout__b-button,
      .vaporboy-touchpad__button-layout__a-button,
      .vaporboy-touchpad__button-layout__dpad,
      .vaporboy-touchpad__button-layout__start-button,
      .vaporboy-touchpad__button-layout__select-button {
        display: none;
      }
    }
  }
}

// Hide Virtual gamepad on desktop
.desktop {
  @include hide-gamepad;
  background-color: $aesthetic-windows-95-green;
}

// Hide Virtual gamepad on hide-expanded-gamepad
.expanded.hide-expanded-gamepad {
  @include hide-gamepad;

  .wasmboy-canvas__canvas-container {
    align-items: center;
  }
}

.a11y-link {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}
