// Import the aesthetic components we are using
@import "../node_modules/aesthetic-css/src/variables";
@import "../node_modules/aesthetic-css/src/mixins";
@import "../node_modules/aesthetic-css/src/buttons";
@import "../node_modules/aesthetic-css/src/input";
@import "../node_modules/aesthetic-css/src/containers";
@import "../node_modules/aesthetic-css/src/modal";
@import "../node_modules/aesthetic-css/src/dropdowns";
@import "../node_modules/aesthetic-css/src/effects/crt";
@import "../node_modules/aesthetic-css/src/tabs";
@import "../node_modules/aesthetic-css/src/notification";

// Our re-used styles
@import "styles/tooltip";
@import "styles/loader";
@import "styles/power-light";

// Top-level Component styles
@import "components/vaporboyDesktop/vaporboyDesktop";
@import "components/vaporboyMobileLandscape/vaporboyMobileLandscape";
@import "components/vaporboyMobilePortrait/vaporboyMobilePortrait";
@import "components/vaporboyDesktop/sgbBorder/sgbBorder";
@import "components/vaporboyExpanded/vaporboyExpanded";
@import "components/wasmboyCanvas/wasmboyCanvas";
@import "components/controlPanel/controlPanel";
@import "components/confirmationModal/confirmationModal";
@import "components/touchpad/touchpad";
@import "components/notification/notification";

html,
body {
  font: 14px/1.21 "Times New Roman", Times, serif;
  font-weight: 400;
  margin-top: 10px;

  // Disable pull to refresh on Chrome and Firefox
  // https://stackoverflow.com/questions/36212722/how-to-prevent-pull-down-to-refresh-of-mobile-chrome
  // https://developers.google.com/web/updates/2017/11/overscroll-behavior
  overscroll-behavior-y: contain;
}

button {
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
}

h1 {
  text-align: center;
}

.desktop {
  background-color: $aesthetic-windows-95-green;
}
