// Import the aesthetic components we are using
@import "../node_modules/aesthetic-css/src/variables";
@import "../node_modules/aesthetic-css/src/mixins";
@import "../node_modules/aesthetic-css/src/buttons";
@import "../node_modules/aesthetic-css/src/containers";
@import "../node_modules/aesthetic-css/src/modal";
@import "../node_modules/aesthetic-css/src/dropdowns";
@import "../node_modules/aesthetic-css/src/effects/crt";

// Our Styles
@import "styles/tooltip";
@import "styles/loader";

// Component Styles
@import "components/vaporboyDesktop/vaporboyDesktop";
@import "components/vaporboyMobileLandscape/vaporboyMobileLandscape";
@import "components/vaporboyDesktop/sgbBorder/sgbBorder";
@import "components/vaporboyExpanded/vaporboyExpanded";
@import "components/wasmboyCanvas/wasmboyCanvas";
@import "components/controlPanel/controlPanel";
@import "components/controlPanel/ROMlist";
@import "components/controlPanel/controlPanelSelect/controlPanelSelect";
@import "components/controlPanel/ROMSourceSelector/ROMSourceSelector";
@import "components/controlPanel/homebrew/homebrew";
@import "components/controlPanel/myCollection/myCollection";
@import "components/controlPanel/cartridge/cartridge";
@import "components/touchpad/expandButton/expandButton";
@import "components/touchpad/controlPanelButton/controlPanelButton";
@import "components/touchpad/gameboyButton/gameboyButton";
@import "components/touchpad/gameboyDpad/gameboyDpad";

html,
body {
  font: 14px/1.21 "Times New Roman", Times, serif;
  font-weight: 400;
  margin-top: 10px;
}

button {
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
}

h1 {
  text-align: center;
}
