# How to create systemd services: http://neilwebber.com/notes/2016/02/10/making-a-simple-systemd-file-for-raspberry-pi-jessie/
# Original Template: https://github.com/torch2424/dotFiles/blob/master/.bash_templates/systemctl.service

# Copy the file to /etc/systemd/system
[Unit]
Description=Torch2424 Template for simple systemctl service
After=network.target

[Service]
Type=simple
User=torch2424
WorkingDirectory=/home/torch2424
ExecStart=/bin/bash --login -c 'source $HOME/.bashrc; cd /home/torch2424/vaporBoy/devops/scripts && bash vaporBoyGithubHook.sh'
Restart=always

[Install]
WantedBy=multi-user.target
