// Import our component styles
@import "expandButton/expandButton";
@import "controlPanelButton/controlPanelButton";
@import "gameboyButton/gameboyButton";
@import "gameboyDpad/gameboyDpad";

// Import our layouts
@import "touchpadMobilePortrait";
@import "touchpadMobileLandscape";
@import "touchpadExpandedLandscape";
@import "touchpadExpandedPortrait";
@import "touchpadExpandedDesktop";

// Stop allowing elements on the touch pad from being selected
// https://stackoverflow.com/questions/21003535/anyway-to-prevent-the-blue-highlighting-of-elements-in-chrome-when-clicking-quic
.vaporboy-touchpad * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Mixin to hide the touchpad
@mixin hide-gamepad() {
  .vaporboy-touchpad {
    .vaporboy-touchpad__button-layout {
      .vaporboy-touchpad__button-layout__b-button,
      .vaporboy-touchpad__button-layout__a-button,
      .vaporboy-touchpad__button-layout__dpad,
      .vaporboy-touchpad__button-layout__start-button,
      .vaporboy-touchpad__button-layout__select-button {
        display: none;
      }
    }
  }
}

// Hide Virtual gamepad on desktop
.desktop {
  @include hide-gamepad;
}

// Hide Virtual gamepad on hide-expanded-gamepad
.expanded.hide-expanded-gamepad {
  @include hide-gamepad;
}

// Add a black stroke to expanded semi transparent expanded buttons
.expanded {
  // Add black stroke around semi white background
  .gameboy-button svg rect,
  .gameboy-dpad svg path {
    stroke: #000;
  }
}
