// encapsulate in our classes / media queries
.mobile.landscape {
  .vaporboy-touchpad {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;

    z-index: 2;

    &__button-layout {
      position: relative;
      top: 0px;
      left: 0px;

      width: 100vw;
      height: 100vh;

      &__expand {
        position: absolute;
        z-index: 1;
        top: 0px;
        left: 0px;

        width: 8vmax;

        button {
          background-color: $aesthetic-50-transparent;
          border: none;
        }
      }

      &__control-panel {
        position: absolute;
        z-index: 1;
        top: 0px;
        right: 0px;

        width: 8vmax;

        button {
          background-color: $aesthetic-50-transparent;
          border: none;
        }
      }

      &__b-button {
        width: 12vw;
        height: 12vw;

        position: absolute;
        z-index: 1;
        top: calc(50% - 9vw);
        right: 14%;
      }

      &__a-button {
        width: 12vw;
        height: 12vw;

        position: absolute;
        z-index: 1;
        top: calc(50% - 16vw);
        right: 1%;
      }

      &__dpad {
        width: 20vw;
        height: 20vw;

        position: absolute;
        z-index: 1;
        top: calc(50% - 18vw);
        left: 5%;
      }

      &__start-button {
        width: 4vw;
        height: 4vw;

        position: absolute;
        z-index: 1;
        left: 20%;
        bottom: 25%;
      }

      &__select-button {
        width: 4vw;
        height: 4vw;

        position: absolute;
        z-index: 1;
        left: 18%;
        bottom: 13%;
      }
    }
  }
}
