// encapsulate in our classes / media queries
.mobile.landscape {
  .vaporboy-touchpad {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    z-index: 2;

    &__expand {
      @include expand-touchpad-button();
    }

    &__control-panel {
      @include control-panel-touchpad-button();
    }

    &__button-layout {
      position: relative;
      top: 0px;
      left: 0px;

      width: 100%;
      height: 100%;

      &__b-button {
        width: 12vw;
        height: 12vw;

        position: absolute;
        z-index: 1;
        top: calc(50% - 9vw);
        right: 14%;
      }

      &__a-button {
        width: 12vw;
        height: 12vw;

        position: absolute;
        z-index: 1;
        top: calc(50% - 16vw);
        right: 1%;
      }

      &__dpad {
        width: 20vw;
        height: 20vw;

        position: absolute;
        z-index: 1;
        top: calc(50% - 18vw);
        left: 5%;
      }

      &__start-button {
        width: 4vw;
        height: 4vw;

        position: absolute;
        z-index: 1;
        left: 20%;
        bottom: 25%;
      }

      &__select-button {
        width: 4vw;
        height: 4vw;

        position: absolute;
        z-index: 1;
        left: 18%;
        bottom: 13%;
      }
    }
  }
}
