// encapsulate in our classes / media queries
.mobile.expanded.landscape {
  .vaporboy-touchpad {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    z-index: 2;

    &__button-layout {
      position: relative;
      top: 0px;
      left: 0px;

      width: 100%;
      height: 100%;

      &__expand {
        @include expand-touchpad-button();
      }

      &__control-panel {
        @include control-panel-touchpad-button();
      }

      &__b-button {
        width: 12vw;
        height: 12vw;

        position: absolute;
        z-index: 1;
        top: calc(50% - 5vw);
        right: 15%;
      }

      &__a-button {
        width: 12vw;
        height: 12vw;

        position: absolute;
        z-index: 1;
        top: calc(50% - 13vw);
        right: 1%;
      }

      &__dpad {
        width: 20vw;
        height: 20vw;

        position: absolute;
        z-index: 1;
        top: calc(50% - 13vw);
        left: 5%;
      }

      &__start-button {
        width: 22.5vh;
        height: 22.5vh;

        position: absolute;
        z-index: 1;
        left: 54.5%;
        bottom: 7%;
      }

      &__select-button {
        width: 22.5vh;
        height: 22.5vh;

        position: absolute;
        z-index: 1;
        left: 30.5%;
        bottom: 7%;
      }
    }
  }
}
