// encapsulate in our classes / media queries
.mobile.portrait {
  .vaporboy-touchpad {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;

    z-index: 2;

    &__button-layout {
      position: relative;
      top: 0px;
      left: 0px;

      width: 100vw;
      height: 100vh;

      &__expand {
        position: absolute;
        z-index: 1;
        top: 0px;
        left: 0px;

        width: 8vmax;

        button {
          background-color: $aesthetic-50-transparent;
          border: none;
        }
      }

      &__control-panel {
        position: absolute;
        z-index: 1;
        top: 0px;
        right: 0px;

        width: 8vmax;

        button {
          background-color: $aesthetic-50-transparent;
          border: none;
        }
      }

      &__b-button {
        width: 20vw;
        height: 20vw;

        position: absolute;
        z-index: 1;
        bottom: 28.5%;
        right: 22%;
      }

      &__a-button {
        width: 20vw;
        height: 20vw;

        position: absolute;
        z-index: 1;
        bottom: 39.5%;
        right: 3%;
      }

      &__dpad {
        width: 37vw;
        height: 37vw;

        position: absolute;
        z-index: 1;
        bottom: 28.5%;
        left: 7%;
      }

      &__start-button {
        width: 19.5vw;
        height: 19.5vw;

        position: absolute;
        z-index: 1;
        left: 51.5%;
        bottom: 14%;
      }

      &__select-button {
        width: 19.5vw;
        height: 19.5vw;

        position: absolute;
        z-index: 1;
        left: 25.5%;
        bottom: 14%;
      }
    }
  }
}
